@font-face {
  font-family: 'TT Norms';
  src: url("../font/TTNorms-Bold.woff2") format("woff2"), url("../font/TTNorms-Medium.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms';
  src: url("../font/TTNorms-Medium.woff2") format("woff2"), url("../font/TTNorms-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms';
  src: url("../font/TTNorms-Regular.woff2") format("woff2"), url("../font/TTNorms-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'TT Norms', 'Roboto', 'Tachoma', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  padding: 0 60px 0;
}

a {
  text-decoration: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 51px;
  margin-bottom: 82px;
}

.header__logo__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header__logo__wrapper p {
  font-size: 38px;
  line-height: 45px;
  color: #323264;
}

.logo__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header__burger {
  display: none;
}

.header__contact__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

.header__contact div {
  position: relative;
  padding-right: 26px;
}

.header__contact div::after {
  content: "";
  position: absolute;
  top: 9px;
  right: 10px;
  width: 6px;
  height: 6px;
  border-radius: 50px;
  background-color: #E6E6F0;
}

.header__languages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__languages__button {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  border-radius: 8px;
  padding: 5px;
  color: #B3B3BA;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.header__languages__button:hover {
  background-color: #EDEDF7;
  color: #B3B3BA;
}

.header__languages__button.active {
  background-color: #F0145A;
  color: #FFFFFF;
}

.header__address p {
  font-size: 16px;
  line-height: 19px;
  padding: 2px 0;
  color: #B3B3BA;
}

.header__number {
  padding: 2px 0;
}

.header__number a {
  line-height: 19px;
  color: #B3B3BA;
  font-weight: 700;
}

.ico-facebook {
  cursor: pointer;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.ico-facebook:hover {
  fill: #24A3FF;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav a {
  margin-left: 15px;
  font-weight: 400;
  line-height: 21px;
  font-size: 18px;
  color: #24A3FF;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.header__nav a:hover {
  color: #F0145A;
}

.header__nav a.active {
  color: #F0145A;
  border-bottom: 2px solid #F0145A;
}

.section__contact__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 80px;
}

.contact__adress {
  width: 28.7%;
  margin-right: 153px;
  padding-top: 128px;
}

.address__box p {
  font-size: 21px;
  line-height: 30px;
  color: #323264;
}

.contact__box {
  border-top: 4px solid #E6E6F0;
  border-bottom: 4px solid #E6E6F0;
  padding: 40px 0;
  margin: 20px 0;
}

.contact__tel {
  font-size: 21px;
  line-height: 30px;
  color: #46466E;
  margin-bottom: 20px;
  display: block;
}

.contact__mail {
  font-size: 21px;
  line-height: 30px;
  color: #24A3FF;
  font-weight: 400;
  display: block;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.contact__mail:hover {
  color: #F0145A;
}

.social__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__box a {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
  max-width: 123px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.social__box a:hover {
  color: #F0145A;
}

.social__box a:first-child {
  margin-right: 10px;
}

.contact__form {
  background-color: #F5F5FA;
  padding: 20px;
  width: 36.6%;
  border-radius: 12px;
}

.contact__form h2 {
  -webkit-background-clip: text;
  background-image: -webkit-gradient(linear, left top, right top, from(#F0145A), to(#EF8080));
  background-image: linear-gradient(to right, #F0145A, #EF8080);
  -webkit-text-fill-color: transparent;
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  margin-bottom: 20px;
}

.form__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__box p {
  font-size: 14px;
  font-weight: 700;
  color: #B3B3BA;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.form__input {
  border: none;
  border-radius: 8px;
  width: 100%;
  font-size: 18px;
  line-height: 26px;
  color: #B3B3BA;
  padding: 10px 0 10px 10px;
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-transition-duration: 00.5s;
          transition-duration: 00.5s;
}

.form__input::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 26px;
  color: #B3B3BA;
  letter-spacing: 0.5px;
}

.form__input:-ms-input-placeholder {
  font-size: 18px;
  line-height: 26px;
  color: #B3B3BA;
  letter-spacing: 0.5px;
}

.form__input::-ms-input-placeholder {
  font-size: 18px;
  line-height: 26px;
  color: #B3B3BA;
  letter-spacing: 0.5px;
}

.form__input::placeholder {
  font-size: 18px;
  line-height: 26px;
  color: #B3B3BA;
  letter-spacing: 0.5px;
}

.form__input:hover {
  border: 2px solid #F0145A;
}

.message {
  min-height: 180px;
  resize: none;
}

.message::-webkit-input-placeholder {
  padding: 0;
}

.message:-ms-input-placeholder {
  padding: 0;
}

.message::-ms-input-placeholder {
  padding: 0;
}

.message::placeholder {
  padding: 0;
}

.button__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button__box button {
  border-style: none;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #FFFFFF;
  padding: 16px 0;
  background-color: #24A3FF;
  border-radius: 12px;
  width: 100%;
  -webkit-box-shadow: 0 0 20px rgba(36, 163, 255, 0.5);
          box-shadow: 0 0 20px rgba(36, 163, 255, 0.5);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  max-width: 250px;
  transition-duration: 1s;
}

.button__box button:hover {
  background-color: #0085FF;
  -webkit-box-shadow: 0 0 30px rgba(36, 163, 255, 0.5);
          box-shadow: 0 0 30px rgba(36, 163, 255, 0.5);
}

.button__box button:active {
  background-color: #006CCF;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.section__map {
  background-color: #F5F5FA;
  width: 100%;
  overflow: hidden;
}

.section__footer {
  background-color: #F5F5FA;
  padding-bottom: 40px;
}

.footer__adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 4px solid #E6E6F0;
  padding-top: 32px;
}

.adress__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 22px;
}

.adress__box p {
  font-size: 16px;
  font-weight: 700;
  line-height: 17px;
  color: #323264;
  margin-right: 47px;
}

.adress__box a {
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
  position: relative;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.adress__box a::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -16px;
  width: 6px;
  height: 6px;
  border-radius: 50px;
  background-color: #B3B3BA;
}

.adress__box a:hover {
  color: #F0145A;
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-fb {
  fill: #24A3FF;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.social-fb:hover {
  fill: #F0145A;
}

.footer__number {
  font-size: 16px;
  font-weight: 700;
  line-height: 17px;
  color: #46466E;
  padding: 0 26px 0 17px;
  position: relative;
}

.footer__number::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 6px;
  width: 6px;
  height: 6px;
  border-radius: 50px;
  background-color: #B3B3BA;
}

.footer__mailto {
  font-size: 16px;
  font-weight: 700;
  line-height: 17px;
  color: #24A3FF;
  position: relative;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.footer__mailto::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -14px;
  width: 6px;
  height: 6px;
  border-radius: 50px;
  background-color: #B3B3BA;
}

.footer__mailto:hover {
  color: #F0145A;
}

.footer__company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__company p {
  color: #B3B3BA;
  font-size: 16px;
  line-height: 19px;
  padding-left: 2px;
}

.footer__adress {
  border: none;
}

@media screen and (max-width: 1125px) {
  .header__address {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .container {
    padding: 20px 30px 0;
  }
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 30px;
  }
  .header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 32px;
    height: 32px;
    padding: 10px 7px;
  }
  .header__burger::after, .header__burger::before {
    content: "";
    position: absolute;
    background-color: #323264;
    width: 100%;
    height: 2px;
    left: 0;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger span {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #323264;
    top: 19px;
    left: 0;
  }
  .header__contact__nav {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .contact__nav__wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 10px;
  }
  .header__contact {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__contact div {
    padding-right: 0;
  }
  .header__contact div::after {
    display: none;
  }
  .header__languages__button {
    font-size: 14px;
    padding: 7px;
  }
  .facebook {
    display: none;
  }
  .header__nav {
    display: none;
  }
  .footer__adress, .adress__box, .footer__contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__adress {
    padding: 0 20px 118px;
  }
  .adress__box {
    margin-bottom: 0;
  }
  .adress__box p {
    margin-bottom: 10px;
    margin-right: 0;
  }
  .adress__box a {
    margin-bottom: 20px;
  }
  .adress__box a::before {
    display: none;
  }
  .footer__contact a {
    margin-bottom: 20px;
  }
  .footer__number::before {
    display: none;
  }
  .footer__mailto::before {
    display: none;
  }
  .footer__company {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .header {
    margin-bottom: 30px;
  }
  .symbol {
    width: 21.16px;
    height: 23.95px;
  }
  .slash {
    width: 11px;
    height: 24px;
  }
  .header__logo__wrapper p {
    font-size: 19px;
    line-height: 22px;
  }
  .section__contact__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 40px;
  }
  .contact__adress {
    width: 70%;
    padding: 0 30px 0;
    margin: 0 0 40px 0;
  }
  .contact__form {
    width: 70%;
  }
}

@media screen and (max-width: 575px) {
  .container {
    padding: 20px 20px 0;
  }
  .contact__nav__wrapper {
    margin-bottom: 0;
  }
  .contact__adress {
    width: 100%;
    padding: 0 20px 0;
  }
  .contact__form {
    width: 100%;
  }
  .contact__form h2 {
    font-size: 22px;
    line-height: 26px;
    font-weight: 500;
  }
}
/*# sourceMappingURL=contact.css.map */