@import "variables";
@import "header";

// main 

.section__contact__box {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.contact__adress {
    width: 28.7%;
    margin-right: 153px;
    padding-top: 128px;
}

.address__box {

    p {
    @include contact-title;
    color: #323264;
    }
}

.contact__box {
    border-top: $border-lightgray;
    border-bottom: $border-lightgray;
    padding: 40px 0;
    margin: 20px 0;
}

.contact__tel {
    @include contact-title;
    color: #46466E;
    margin-bottom: 20px;
    display: block;
}

.contact__mail {
    @include contact-title;
    color: $services__skill-h3;
    font-weight: 400;
    display: block;
    transition-duration: 0.5s;

    &:hover {
        color: #F0145A;
    }
}

.social__box {
    display: flex;
    align-items: center;

    a {
        font-size: 12px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $services__skill-h3;
        max-width: 123px;
        transition-duration: 0.5s;

        &:hover {
            color: #F0145A;
        }
    }

    & a:first-child {
        margin-right: 10px;
    }
}

.contact__form {
    background-color: $section__team-background;
    padding: 20px;
    width: 36.6%;
    border-radius: 12px;

    h2 {
        @include active__tab-reserve;
        font-size: 32px;
        line-height: 38px;
        font-weight: 700;
        margin-bottom: 20px;
    }
}

.form__box {
    display: flex;
    flex-direction: column;

    p {
        font-size: 14px;
        font-weight: 700;
        color: #B3B3BA;
        line-height: 16px;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding-left: 10px;
        margin-bottom: 10px;
    }
}

.form__input {
    border: none;
    border-radius: 8px;
    width: 100%;
    font-size: 18px;
    line-height: 26px;
    color: #B3B3BA;
    padding: 10px 0 10px 10px;
    margin-bottom: 20px;
    cursor: pointer;
    transition-duration: 00.5s;

    &::placeholder {
        font-size: 18px;
        line-height: 26px;
        color: #B3B3BA;
        letter-spacing: 0.5px;
    }

    &:hover {
        border: 2px solid #F0145A;
    }
}

.message {
    min-height: 180px;
    resize: none;
}

.message::placeholder {
    padding: 0;
}

.button__box {
    display: flex;
    justify-content: center;

    button {
        @include button;
        max-width: 250px;
        transition-duration: 1s;

        &:hover {
            background-color: #0085FF;
            box-shadow: 0 0 30px rgba(36, 163, 255, 0.5);
        }
    
        &:active {
            background-color: #006CCF;
            box-shadow: none;
        }
    }
}

.section__map {
    background-color: $section__team-background;
    width: 100%;
    overflow: hidden;
}

@import "footer";

.footer__adress {
    border: none;
}

@media screen and (max-width: 1125px) {
    .header__address {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .container {
        padding: 20px 30px 0;
    }

    .header {
        flex-direction: column;
        margin-bottom: 30px;
    }
    
    .header__logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        order: 1;
    }

    .header__burger {
        display: block;
        position: relative;
    }
    
    .header__burger:hover .menu__burger__list {
        display: block;
    }

    .header__contact__nav {
        align-items: flex-start;
    }

    .contact__nav__wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .header__contact {
        width: 100%;
        justify-content: space-between;

        div {
            padding-right: 0;
        }

        & div::after {
            display: none;
        }
    }
    
    .header__languages__button {
        font-size: 14px;
        padding: 7px;
    }

    .facebook {
        display: none;
    }
    
    .header__nav {
        display: none;
    }
    
    .footer__adress, .adress__box, .footer__contact {
        flex-direction: column;
    }

    .footer__adress {
        padding: 0 20px 118px;
    }

    .adress__box {
        margin-bottom: 0;

        p {
            margin-bottom: 10px;
            margin-right: 0;
        }

        a {
            margin-bottom: 20px;
        }

        & a::before {
            display: none;
        }
    }
    
    .footer__contact {
        a {
            margin-bottom: 20px;
        }
    }
    
    .footer__number {
        &::before {
            display: none;
        }
    }
    
    .footer__mailto {
        &::before {
            display: none;
        }
    }

    .footer__company {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 767px) {
    .header {
        margin-bottom: 30px;
    }

    .symbol {
        width: 21.16px;
        height: 23.95px;
    }

    .slash {
        width: 11px;
        height: 24px;
    }

    .header__logo__wrapper {

        p {
            font-size: 19px;
            line-height: 22px;
        }
    }

    .section__contact__box {
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }
        
    .contact__adress {
        width: 70%;
        padding: 0 30px 0;
        margin: 0 0 40px 0;
    }

    .contact__form {
        width: 70%;
    }
}

@media screen and (max-width: 575px) {
    .container {
        padding: 20px 20px 0;
    }

    .contact__nav__wrapper {
        margin-bottom: 0;
    }

    .contact__adress {
        width: 100%;
        padding: 0 20px 0;
    }

    .contact__form {
        width: 100%;

        h2 {
            font-size: 22px;
            line-height: 26px;
            font-weight: 500;
        }
    }
}

    

