@font-face {
  font-family: 'TT Norms';
  src: url("../font/TTNorms-Bold.woff2") format("woff2"), url("../font/TTNorms-Medium.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms';
  src: url("../font/TTNorms-Medium.woff2") format("woff2"), url("../font/TTNorms-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms';
  src: url("../font/TTNorms-Regular.woff2") format("woff2"), url("../font/TTNorms-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'TT Norms', 'Roboto', 'Tachoma', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  padding: 0 60px 0;
}

a {
  text-decoration: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 51px;
  margin-bottom: 82px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header__logo p {
  font-size: 38px;
  line-height: 45px;
  color: #323264;
}

.logo__img {
  padding-right: 5px;
}

.header__contact__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

.header__contact div {
  position: relative;
  padding-right: 26px;
}

.header__contact div::after {
  content: "";
  position: absolute;
  top: 9px;
  right: 10px;
  width: 6px;
  height: 6px;
  border-radius: 50px;
  background-color: #E6E6F0;
}

.header__languages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__languages__button {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  border-radius: 8px;
  padding: 5px;
  color: #B3B3BA;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.header__languages__button:hover {
  background-color: #EDEDF7;
  color: #B3B3BA;
}

.header__languages__button.active {
  background-color: #F0145A;
  color: #FFFFFF;
}

.header__address p {
  font-size: 16px;
  line-height: 19px;
  padding: 2px 0;
  color: #B3B3BA;
}

.header__number {
  padding: 2px 0;
}

.header__number a {
  line-height: 19px;
  color: #B3B3BA;
}

.ico-facebook {
  cursor: pointer;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.ico-facebook:hover {
  fill: #24A3FF;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav a {
  margin-left: 15px;
  font-weight: 400;
  line-height: 21px;
  font-size: 18px;
  color: #24A3FF;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.header__nav a:hover {
  color: #F0145A;
}

.header__nav a.active {
  color: #F0145A;
  border-bottom: 2px solid #F0145A;
}
/*# sourceMappingURL=publication.css.map */