@font-face {
  font-family: 'TT Norms';
  src: url("../font/TTNorms-Bold.woff2") format("woff2"), url("../font/TTNorms-Medium.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms';
  src: url("../font/TTNorms-Medium.woff2") format("woff2"), url("../font/TTNorms-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Norms';
  src: url("../font/TTNorms-Regular.woff2") format("woff2"), url("../font/TTNorms-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'TT Norms', 'Roboto', 'Tachoma', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  padding: 0 60px 0;
}

a {
  text-decoration: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 51px;
  margin-bottom: 82px;
}

.header__logo__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header__logo__wrapper p {
  font-size: 38px;
  line-height: 45px;
  color: #323264;
}

.logo__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header__burger {
  display: none;
}

.header__burger {
  position: relative;
  width: 32px;
  height: 32px;
  padding: 10px 7px;
}

.header__burger::after, .header__burger::before {
  content: "";
  position: absolute;
  background-color: #323264;
  width: 100%;
  height: 2px;
  left: 0;
}

.header__burger::before {
  top: 0;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.header__burger span {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #323264;
  top: 19px;
  left: 0;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.header__burger:hover::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 18px;
  background-color: #EC6F5D;
}

.header__burger:hover span {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: -9px;
  background-color: #EC6F5D;
}

.header__burger:hover::after {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.menu__burger__list {
  display: none;
  width: 375px;
  position: absolute;
  left: -325px;
  top: 30px;
  padding: 10px;
  border-radius: 12px;
  background-color: #ffffff;
  z-index: 10;
}

.menu__burger__list a {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: #24A3FF;
  text-align: center;
  width: 100%;
  padding: 7px 0 9px 0;
  background-color: #F5F5FA;
  border-radius: 12px;
  display: inline-block;
  margin-bottom: 11px;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.menu__burger__list a:hover {
  color: #F0145A;
  background-color: #EDEDF7;
}

.header__contact__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

.header__contact div {
  position: relative;
  padding-right: 26px;
}

.header__contact div::after {
  content: "";
  position: absolute;
  top: 9px;
  right: 10px;
  width: 6px;
  height: 6px;
  border-radius: 50px;
  background-color: #E6E6F0;
}

.header__languages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__languages__button {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  font-weight: 700;
  border-radius: 8px;
  padding: 5px;
  color: #B3B3BA;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.header__languages__button:hover {
  background-color: #EDEDF7;
  color: #B3B3BA;
}

.header__languages__button.active {
  background-color: #F0145A;
  color: #FFFFFF;
}

.header__address p {
  font-size: 16px;
  line-height: 19px;
  padding: 2px 0;
  color: #B3B3BA;
}

.header__number {
  padding: 2px 0;
}

.header__number a {
  line-height: 19px;
  color: #B3B3BA;
  font-weight: 700;
}

.ico-facebook {
  cursor: pointer;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.ico-facebook:hover {
  fill: #24A3FF;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav a {
  margin-left: 15px;
  font-weight: 500;
  line-height: 21px;
  font-size: 18px;
  color: #24A3FF;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.header__nav a:hover {
  color: #F0145A;
}

.header__nav a.active {
  color: #F0145A;
  border-bottom: 2px solid #F0145A;
}

.main__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 80px;
}

.title__box {
  max-width: 65.4%;
}

.title__box h2 {
  font-size: 42px;
  line-height: 50px;
  font-weight: 700;
  -webkit-background-clip: text;
  background-image: -webkit-gradient(linear, left top, right top, from(#F0145A), to(#EF8080));
  background-image: linear-gradient(to right, #F0145A, #EF8080);
  -webkit-text-fill-color: transparent;
}

.team__spreadsheet {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (31.3%)[3];
      grid-template-columns: repeat(3, 31.3%);
  gap: 40px;
  margin-bottom: 60px;
}

.team__img {
  margin-bottom: 20px;
}

.team__img img {
  border-radius: 12px;
  max-width: 100%;
}

.team__name {
  position: relative;
}

.team__name a {
  display: inline-block;
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  color: #323264;
  margin-bottom: 5px;
}

.team__name p {
  font-size: 16px;
  line-height: 22px;
  color: #B3B3BA;
}

.name__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.name__details {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: #F5F5FA;
  background-image: url(../img/team-table.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.section__footer {
  background-color: #F5F5FA;
  padding-bottom: 40px;
}

.footer__adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 4px solid #E6E6F0;
  padding-top: 32px;
}

.adress__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 22px;
}

.adress__box p {
  font-size: 16px;
  font-weight: 700;
  line-height: 17px;
  color: #323264;
  margin-right: 47px;
}

.adress__box a {
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
  position: relative;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.adress__box a::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -16px;
  width: 6px;
  height: 6px;
  border-radius: 50px;
  background-color: #B3B3BA;
}

.adress__box a:hover {
  color: #F0145A;
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-fb {
  fill: #24A3FF;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.social-fb:hover {
  fill: #F0145A;
}

.footer__number {
  font-size: 16px;
  font-weight: 700;
  line-height: 17px;
  color: #46466E;
  padding: 0 26px 0 17px;
  position: relative;
}

.footer__number::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 6px;
  width: 6px;
  height: 6px;
  border-radius: 50px;
  background-color: #B3B3BA;
}

.footer__mailto {
  font-size: 16px;
  font-weight: 700;
  line-height: 17px;
  color: #24A3FF;
  position: relative;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.footer__mailto::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -14px;
  width: 6px;
  height: 6px;
  border-radius: 50px;
  background-color: #B3B3BA;
}

.footer__mailto:hover {
  color: #F0145A;
}

.footer__company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__company p {
  color: #B3B3BA;
  font-size: 16px;
  line-height: 19px;
  padding-left: 2px;
}

.footer__adress {
  border-top: none;
}

.section__footer {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

@media screen and (max-width: 1200px) {
  .header__address {
    display: none;
  }
  .team__spreadsheet {
    -ms-grid-columns: (30.9%)[3];
        grid-template-columns: repeat(3, 30.9%);
  }
}

@media screen and (max-width: 991px) {
  .container {
    padding: 20px 30px 0;
  }
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 0px;
    margin-bottom: 30px;
  }
  .header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .header__burger {
    display: block;
    position: relative;
  }
  .header__burger:hover .menu__burger__list {
    display: block;
  }
  .header__contact__nav {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .contact__nav__wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 10px;
  }
  .header__contact {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__contact div {
    padding-right: 0;
  }
  .header__contact div::after {
    display: none;
  }
  .header__languages__button {
    font-size: 14px;
    padding: 7px;
  }
  .facebook {
    display: none;
  }
  .header__nav {
    display: none;
  }
  .team__spreadsheet {
    -ms-grid-columns: (30.5%)[3];
        grid-template-columns: repeat(3, 30.5%);
  }
  .footer__adress, .adress__box, .footer__contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__adress {
    padding: 0 20px 80px;
  }
  .adress__box {
    margin-bottom: 0;
  }
  .adress__box p {
    margin-bottom: 10px;
    margin-right: 0;
  }
  .adress__box a {
    margin-bottom: 20px;
  }
  .adress__box a::before {
    display: none;
  }
  .footer__contact a {
    margin-bottom: 20px;
  }
  .footer__number::before {
    display: none;
  }
  .footer__mailto::before {
    display: none;
  }
  .footer__company {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .main__title {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin-bottom: 40px;
  }
  .title__box {
    max-width: 100%;
  }
  .title__box h2 {
    font-size: 32px;
    line-height: 38px;
  }
  .team__spreadsheet {
    -ms-grid-columns: (47%)[2];
        grid-template-columns: repeat(2, 47%);
  }
  .symbol {
    width: 21.16px;
    height: 23.95px;
  }
  .slash {
    width: 11px;
    height: 24px;
  }
  .header__logo__wrapper p {
    font-size: 19px;
    line-height: 22px;
  }
}

@media screen and (max-width: 575px) {
  .container {
    padding: 20px 20px 0;
  }
  .main__title {
    margin-bottom: 20px;
  }
  .team__spreadsheet {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 20px;
  }
  .team__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .team__img {
    margin: 0 20px 0 0;
  }
  .team__img img {
    margin-bottom: -4px;
    max-width: 158px;
  }
  .name__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .team__name {
    margin-bottom: 10px;
  }
  .footer__adress {
    padding-bottom: 118px;
  }
}
/*# sourceMappingURL=team.css.map */